allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };
allow init bootanim:process noatsecure;
allow init fsck:process noatsecure;
allow init hal_alarm_qti_default:process noatsecure;
allow init hal_configstore_default:process noatsecure;
allow init hal_drm_default:process noatsecure;
allow init hal_graphics_allocator_default:process noatsecure;
allow init hal_graphics_composer_default:process noatsecure;
allow init hal_health_default:process noatsecure;
allow init hal_keymaster_default:process noatsecure;
allow init hal_nfc_default:process noatsecure;
allow init hal_wifi_supplicant_default:process noatsecure;
allow init hwservicemanager:process noatsecure;
allow init rmt_storage:process noatsecure;
allow init tee:process noatsecure;
allow init toolbox:process noatsecure;
allow init tzdatacheck:process noatsecure;
allow init ueventd:process noatsecure;
allow init vdc:process noatsecure;
allow init vendor_init:process noatsecure;
allow init vold:process noatsecure;
