allow isolated_app bg_boot_complete_prop:file { open read };
allow isolated_app bg_daemon_prop:file { open read };
#allow isolated_app bluetooth_prop:file { open read };
#allow isolated_app bootloader_boot_reason_prop:file { open read };
allow isolated_app boottime_prop:file { open read };
allow isolated_app camera_prop:file { open read };
allow isolated_app cnd_vendor_prop:file { open read };
